/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:30px
	
}
img{
	width:400px;
	height:auto;
	object-fit:cover;
}
.pinn>h1,.pinn>p{
	text-align:center;
}
.pinn{
	display:flex;
	flex-direction:column;
	justify-content:center;;
}
.pinn>button{
	padding:5px;
	background-color:red;
	color:white;
	border-radius:6px;
}
a{
	text-decoration:none;
	color:white;
}